@import "../css/progress-bar.css";

:root {
  --blackedColor: #3c4761;
  --mainFontSize: 18px 
}
body {
  min-width: 320px;
  font-family: "Titillium Web";
}

.selector__form {
  position: absolute;
  left: 45%;
  padding: 0 10px;
  width: 350px;
  height: 100px;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.selector__form-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.selector__form-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.selector__form-buttons {
  display: flex;
  justify-content: space-between;
}

.selector__form-btn {
  width: 60px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}
.container-section {
  padding: 120px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.welcome {
  background-color: #87509c;
  height: 100vh;
}
.welcome__header {
  padding: 57px 35px;
}
.welcome__header-logo-link {
  display: block;
}
#menu_toggle {
  display:none
}
.menu_btn {
  display: none;
}
.welcome__header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome__header-navigation-inner {
  display: flex;
}
.welcome__header-navigation-item {
    margin-right: 4px;
}
.welcome__header-navigation-item:last-child {
    margin-right: 0;
}
.welcome__header-navigation-item-link {
  display: block;
  padding: 10px 17px;
  color: #ffffff;
  font-size: var(--mainFontSize);
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 5px;
}
.welcome__header-navigation-item-link:hover {
    background: #643a79;
}
.welcome__greetings {
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__greetings-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome__greetings-title {
  color: #f7f3ea;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 62px;
}
.button {
  color: #ffffff;
  padding: 22px 78px;
  line-height: 26.19px;
  letter-spacing: 0.27px;
  font-size: var(--mainFontSize);
  text-transform: uppercase;
  border-radius: 5px;
}
.button:hover {
  filter: brightness(1.1);
}
.welcome__greetings-btn {
  background-color: #eb7d4b; 
  border-bottom: 4px solid #c7693d;
}
.services {
  background-color: #17c2a4;
  padding: 120px 0 40px 0;
}
.services__body {
  margin-bottom:  80px;
}
.body__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  margin-bottom: 40px;
}
.body__title:before {
  content : "";
  position: absolute;
  left: calc(50% - 44px);
  bottom: -21px;
  width: 88px;
  height: 4px;
  background-color: #000000;
  opacity: 0.15;
}
.body__description {
  color: #ffffff;
  font-size: var(--mainFontSize);
  text-align: center;
  line-height: 26px;
  max-width: 600px;
    margin: 0 auto;
}
.body__title--blacked {
  color: var(--blackedColor);
}
.body__description--blacked {
  color: var(--blackedColor);
}
.row-inner {
  display: flex;
}
.services__column {
  display: flex;
  flex-basis: 25%;
}
.column-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__column-img {
  max-width: 160px;
  height: 130px;
  margin-bottom: 55px;
}
.column-item__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.column-item__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 0 40px;
  margin-bottom: 35px;
  flex: 1 0 auto;
}
.team {
  padding: 120px 0 90px 0;
  background-color: #e7f1f8;
}
.team__body {
  margin-bottom:  80px;
}
.team__column {
  display: flex;
  flex-basis: 25%;
}
.team__column-img{
  max-width: 200px;
  margin-bottom: 40px;
}
.column-item__title-blacked {
  color: #27283d;
  margin-bottom: 18px;
}
.column-item__text-blacked {
  color: var(--blackedColor);
}
.columnt-item__state {
  color: #30bae7;
  font-family: "Titillium Web";
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 32px;
}
.column-item__links-row {
  display: flex;
}
.row-inner-links {
  display: flex;
}
.links__item {
  margin-right: 12px;
}
.links__item:last-child {
  margin: 0;
}
.links-item__link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #bdd1df;
}
.links-item__link:hover{
  background-color: #8e9eaa;
}
.link-item__icon {
 color:#fff
}
.skills {
  padding: 120px 0 90px 0;
  background-color: #ffffff;
}
.skills__body {
  margin-bottom: 80px;
}
.skills__column {
  flex-basis: 25%;
}
.column-item__progress {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 32px;
}
.portfolio {
  padding: 120px 0;
  background-color: #ffdd99;
}
.portfolio__body {
  margin-bottom: 60px;
}
.portfolio__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  margin-bottom: 50px;
}

.portfolio__navigation{
  display: flex;
  width: 38%;
  margin: 0 auto 64px;
  justify-content: space-between;
}
.portfolio__navigation-item{
  background-color: #e5c37f;
  border-radius: 5px;
}
.portfolio__navigation-item--active{
  background-color: #fff;
  border-radius: 5px;
}
.column-inner__image {
  width: 90%;
  margin-bottom: 25px;
}
.portfolio__navigation-item-link {
  color: #393939;
  font-size: var(--mainFontSize);
  line-height: 19.5px;
  text-transform: uppercase;
  padding:12px 27px;
  display:block;
}
.portfolio__navigation-item-link:hover:not(.portfolio__navigation-item--active) {
  background-color: #D68A00 ;
  border-radius: 5px;
}
.row-inner--wrapped {
  flex-wrap: wrap;
}
.portfolio__row {
  margin-bottom: 45px;
}
.column-item__title-smaller {
  color: #393939;
  font-size: var(--mainFontSize);
  line-height: 19.5px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
.portfolio__btn {
  padding: 28px 52px;
  background-color: #17c2a4;
  color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 4px solid #10967d;
}
.testimonials {
  padding: 120px 0;
  background-color: #d74680;
}
.testimonials__body {
  margin-bottom: 80px;
}
.testimonials__column {
  display: flex;
  flex: 0 1 45%;
  margin-right: 95px;
}
.testimonials__column:nth-child(1) {
    margin-bottom: 100px;
}
.testimonials__column:nth-child(2) {
    margin-bottom: 100px;
}
.testimonials__column:nth-child(even) {
    margin-right: 0;
}
.testimonials__column-img {
    flex: 0 0 96px;
    max-width: 96px;
    height: 96px;
    margin-right: 38px;
}
.testimonials__column-inner{
  display: flex;
}
.testimonials-column__data {
  display: flex;
  flex-direction: column;
}
.testimonial__img {
  max-width: 96px;
}
 .data__quote {
  color: #ffffff;
  font-size: 21px;
  font-style: italic;
  line-height: 31px;
  margin-bottom: 28px;
  flex: 1 0 auto;
} 
.data__user {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.data__position {
  color: #ffdd99;
  font-size: var(--mainFontSize);
}
.getintouch {
  padding-top: 120px;
  background-color: #3c5499;
}
.getintouch__body {
  margin-bottom: 80px
}
.contacts__input {
  background-color: #273a71;
  padding: 18px 0 18px 25px;
  flex: 95%;
  color: #ffffff;
  font-size: var(--mainFontSize);
  line-height: 18px;
}
.getintouch__contact-us {
  display: flex;
  justify-content: center;
}
.form__your-data {
  display: flex;
  margin-bottom: 27px;
}
.your-data {
  display: flex;
  flex: 50%;
}
.your-data__email {
  display: flex;
  flex: 40%;
}
.your-data__communicate{
  flex-direction: column;
}
.getintouch__form {
  margin: 0 auto 115px;
  flex-direction: column;
  max-width: 860px;
}
.your-data__message-form {
  display: flex;
  flex: 100%;
  margin-bottom: 60px;
}
.data__name {
  display: flex;
  flex:45;
  margin-right: 15px;
}
.data-name__form {
  flex: 100%;
  display: flex;
}
.data-email__form {
  flex: 100%;
  display: flex;
}
.data__email {
  display: flex;
  flex:45;
}
.asteriks{
  position: absolute;
}
.asteriks::after{
  content: '*';
  position: absolute;
  top: 15px;
  left: 110px;
  font-size: 20px;
  color: #f00
}
.asteriks-message{
  position: absolute;
}
.asteriks-message::after{
  content: '*';
  position: absolute;
  top: 15px;
  left: 135px;
  font-size: 20px;
  color: #f00
}
.contacts__input:placeholder {
  color:#fff;
}
.contacts__input:focus + .asteriks::after {
  opacity: 0;
}
.contacts__input:valid + .asteriks::after {
  opacity: 0;
}
.contacts__input:valid + .asteriks-message::after {
  opacity: 0;
}
.contacts__input:focus + .asteriks-message::after {
  opacity: 0;
}
.contact-form__message {
  padding: 20px 0 160px 25px;
  overflow: hidden;
}
.contact-form__message::-webkit-resizer {
  background-image: url("../img/Arrow.png");
  background-repeat: no-repeat;
  top: 10px;
  z-index: 1000;
}
.contact-form__btn {
  background-color: #30bae7;
  border-bottom: 4px solid #2991b4;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.getintouch__footer {
  background-color: #344b8e;
  padding: 44px 0; 
}
.getintouch__footer-inner {
  display: flex;
  justify-content: space-between;
}
oter-inner {
  max-width: 940px;
  margin: 0 auto;
}
.getintouch__footer-item-link {
  color: #ffffff;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 700;
}
.getintouch__footer-item-link:hover {
  color: #6facfc
}
@media screen and (max-width: 1199px) {
  .portfolio__row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .portfolio__column {
    flex-basis: 100%;
  }
  .row-inner--decreased {
      margin: 0 10px;
  }
}
@media screen and (max-width: 991px) {
    .welcome__greetings-title {
        padding: 0 20px;
    }
    .contact-form__message {
        resize: none;
    }
    .testimonials__column:nth-child(1) {
        margin-bottom: 45px;
    }
    .testimonials__column:nth-child(2) {
        margin-bottom: 45px;
    }
  .row-inner {
    flex-wrap: wrap;
  }
  .services__column {
    flex-basis: 50%;
      margin-bottom: 45px;
  }
  .team__column {
    flex-basis: 50%;
    margin-bottom: 45px;
  }
  .skills__column {
    flex-basis: 50%;
      margin-bottom: 45px;
  }
    .row-inner--decreased {
        margin: 0 100px;
    }
  .testimonials__column {
    flex-basis: 85%;
    margin-right: 0;
      margin-bottom: 45px;
  }
  .form__your-data {
    flex-direction: column;
  }
  .contacts__input {
      max-width: 90%;
      margin: 0 auto;
  }
  .data__name{
    margin-right: 0;
    margin-bottom: 20px;
  }
  .contact-form__contacts {
    width: 70%;
  }
  .contact-form__message {
    width: 100%;
  }
    .asteriks::after{
        left: 140px;
    }
    .asteriks-message::after{
        left: 165px;
    }
  .portfolio__navigation {
    width: 48%;
  }
  .getintouch__footer-inner {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .getintouch__footer-item {
    flex: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .services {
    padding-bottom: 20px;
  }
  .team {
    padding-bottom: 20px;
  }
  .skills {
    padding-bottom: 20px;
  }
  .portfolio {
    padding-bottom: 20px;
  }
  .testimonials {
    padding-bottom: 20px;
  }
  .row-inner {
    flex-direction: column;
    align-items: center;
  }
  .services__column {
    flex-basis: 100%;
  }
  .column-item__img {
    margin-bottom: 10px;
  }
  .column-item__text {
    padding: 0 100px
  }
  .team__column {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .columnt-item__state {
    margin-bottom: 10px;
  }
  .skills__column {
    flex-basis: 100%;
  }
  .portfolio__navigation {
    width: 66%;
  }
  .testimonials__column {
      margin-bottom: 45px;
    flex-direction: column;
    align-items: center;
  }
  .testimonials-column__data {
    flex-direction: column-reverse;
    padding: 0;
  }

  .data__position {
    margin-bottom: 10px;
  }
  .data__user {
    margin-bottom: 10px;
  }
  .testimonials-column__data *{
    text-align: center;
  }
  .testimonials__column-img {
    margin-bottom: 20px;
      margin-right: 0;
  }
  .column-item__title-smaller {
    margin-bottom: 30px;
  }
  .menu_btn {
    display: block;
  }
  .menu_btn{
    position: absolute;
    width: 30px;
    height: 20px;
    right: 40px;
    cursor: pointer;
    z-index: 50;
  }
  .menu_btn > span,
  .menu_btn > span:before,
  .menu_btn > span:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
  }
  .menu_btn > span:before{
    content: "";
    top: -10px
  }
  .menu_btn > span:after{
    content: "";
    top: 10px;
  }
  .welcome__header-navigation-inner{
    display: block;
    position: absolute;
    visibility: hidden;
    top: -2300px;
    right: 0;
    left: 0;
    width: 100%;
    height: 95%;
    z-index: 5;
    list-style: none;
    background-color: #3f3f3f;
  }
  .welcome__header-navigation-item{
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .welcome__header-navigation-item-link{
    font-weight: 600;
  }
  .welcome__header-navigation-inner-item-link--active {
    background: lightgrey;
  }
  .welcome__header-navigation-item-link:hover{
      
  }
  .welcome__header-navigation-item-link:hover:before{
    bottom: -10px;
  }
  #menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
  }
  #menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu_toggle:checked ~ .welcome__header-navigation-inner {
    visibility: visible;
    top: 110px;
  }
    .asteriks::after{
        left: 140px;
    }
    .asteriks-message::after{
        left: 160px;
    }
}
@media screen and (max-width: 570px) {
    .body__title {
        padding: 0 10px;
    }
  .button {
    padding: 14px 45px;
  }
  .body__description  {
    display: none;
  }
  .column-item__text {
    padding: 0 40px
  }
  .portfolio__navigation {
      width: 88%;
  }
  .navigation-inner {
    align-items: center;
  }
  .portfolio__navigation-item-link {
    padding: 10px 16px;
  }
  .portfolio__btn {
    font-size: 16px;
  }
    .row-inner--decreased {
        margin: 0 30px;
    }
  .testimonials__column {
    padding: 0;
      margin-bottom: 45px;
  }
    .asteriks::after{
        left: 125px;
    }
    .asteriks-message::after{
        left: 150px;
    }

  .column-inner__image {
    width: 100%;
  }

  .getintouch__footer-item:last-child{
    margin: 0;
  }
  .welcome__greetings {
    padding-top: 40px;
  }
  .welcome__greetings-title {
    font-size: 34px
  }
}
